@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$bg_board: hsl(201, 77%, 95%);
$bg_infor: #d2ebf7;
$bg_sidebar: rgb(255, 255, 253);
$color_sidebar: rgb(149, 146, 146);