.img-feedback {
    width: 100%;
}
.card-feedback {
    width:25rem!important;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px!important;
}
.card-feeback-body {
    padding-right: 40px!important;
    padding-left: 40px!important;
}