@import '../../../../setting';;

.homepage_student {
    color: black;
    margin-top: 90px;

    .homepage_div {
        // background-color: aqua;
        width: 1180px;
        position: fixed;
        left: 290px;
        height: 100%;
    }
}